@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: "Poppins",sans-serif;
}

:root{
  --white : #ffffff;
  --off-white:#e5e5e5;
  --transp-white-1:rgba(255,255,255,0.25);
  --transp-white-2:rgba(255,255,255,0.1);
  --blue-1:#62b8f5;
  --blue-2:#4475ef;
  --shadow:rgba(3,46,87,0.2);
}
.container{
  width:85%;
  margin:0 auto;
  max-width: 25rem;
  
}
.main{
  background: linear-gradient(135deg,var(--blue-1),var(--blue-2));
  min-height: 100vh;
  border:2px solid red;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
} 
.wrapper{
  max-width:30rem;
  /* height:50rem; */
  height:28rem;
  border:2px solid black;
  background:var(--transp-white-2);
  backdrop-filter: blur(10px);
  padding:2em 3em;
  border:2px solid var(--transp-white-2);
  border-radius: 0.6em;
  box-shadow: 0 1.8em 3.7em var(--shadow);
  text-align:center;
  /* border:2px solid red; */
  position:relative;
  backdrop-filter: blur(10px);
}
.search{
  display: flex;
  justify-content: space-between;
}
.search input,
.search button{
  outline:none;
  font-size:1em;
  border:none;
}
.search input{
  padding:0.5em;
  width:100%;
  max-width: 70%;
  background-color: transparent;
  border-bottom: 2px solid var(--transp-white-1);
  color:var(--white);
  font-weight: 300;
  /* border:2px solid red; */
}
.search input::placeholder{
  border-color:var(--white);
  /* color:var(--white); */
}
.search input:focus{
 border-color:var(--white);
}
.search button{
  color:var(--blue-2);
  background-color: var(--white);
  border-radius: 0.3em;
  padding:0 0.5em;
}
.shape{
  position:absolute;
  /* padding: 12em; */
  background-color:var(--transp-white-2) ;
  border-radius:50%;
  backdrop-filter: blur(1.2em);
  border:2px solid var(--transp-white-1);
}
.shape1{
  padding:8em;
  right:-6em;
  top:5em;
}
.shape2{
  padding:6em;
  right:24em;
  top:18em;
}
#result{
  text-transform: uppercase;
  color:var(--white)
}
#result h2{
  letter-spacing: 0.25em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
#result img{
  margin:0.6em 0 0 0 ;
  width:6.2em;
  filter:drop-shadow(0 1.8em 3.7em var(--shadow)); 
}
#result p{
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size:1.1rem;
}
.temp-container{
  margin-top:0.4em;
  display: flex;
  justify-content:space-around;
  align-items:center;
  row-gap: 1em;
  width:100%;
}
